@import url(classless.css);

:root, html[data-theme='light'] {
	--rem: 16pt;
	--width: 50rem;
	--navpos: absolute;  /* fixed | absolute */
	--font-p: 1em/1.333  "Century Schoolbook", serif;
	--font-h: .9em/1.333 "Century Schoolbook", serif;
	--font-c: .9em/1.333 monospace;
	--border: 1px solid var(--cmed);
  --ornament: "⚾︎⚾︎⚾︎ ⚾︎⚾︎⚾︎";
	/* foreground   | background color */
	--cfg:   #414042;    --cbg:    #ebece7;
	--cdark: #888;    --clight: #ebece7;
	--cmed:  #7e8282;
	--clink: #d7a643;
	--cemph: #d7a643;    --cemphbg: #724e35;
}